<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel = "stylesheet" href="{% static 'CSS/my.css' %} " type="text/css">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $("p").click(function(){
    $(this).hide();
    });
    });
    </script>
</head>
    <body>
<h1>This is my title</h1>
    

    Hello World! (with hierarchical templates) from {{ name }}
    
    {% load static %}
    <img src="{% static 'Media/coffee.jpeg' %}" alt="My image">

    <button onclick="myFunction()">Click Me!</button>

    <script>
    function myFunction() {
    let x = document.getElementById("demo");
    x.style.fontSize = "25px";
    x.style.color = "red";
    }
    </script>
    <p>If you click on me, I will disappear.</p>
    <p>Click me away!</p>
    <p>Click me too!</p>

</body>