<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="/static/CSS/my.css"
   
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>