<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="/static/CSS/my.css"
   
</head>
this is the list of persons in the database.

<ul>
    {% for line in person_list %}
     <li> {{ line.text }}</li>
    {% endfor %}
</ul>

{% endblock %}